body{
    height: 100vh;
}
body, input{
    background: #4a4a4a;
}
input{
    color: #fff;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    background: #4a4a4a;
    font-size: 24px;
    border-bottom: 2px solid red;
    /* border: none; */
}
.enter-username{
    color: #fff;
}
.hello-text{
    color: #fff;
}
.top{
    height: 300px;
}
.chat-text{
    margin-left: 5px;
    color: #fff;
}
.logout-wrap{
    width: 46px;
    background: #000;
}
.logout-wrap > a{
    color: #fff;
}
.user-name{
    color: red;
    font-family: monospace;
    /* font-style: italic; */
    padding-left: 10px;
}
.top-text{
    color: #fff;
    background: #000;
    width: 200px;
    margin: auto;
}
.login-button, .chat-button{
    font-size: 20px;
    margin-top: 20px;
}
.username-error,
.message-error{
    color: red;
    font-weight: bold;
}
#chat-wrap{
    /* min-height: 200px; */
}
#message{
    padding: 10px;
    margin-top: 20px;
}
#chat-window{
    background: #000;
    font-size: 19px; 
    text-align: left;
    overflow: scroll; 
    overflow-x:hidden;
    padding-bottom: 20px;
    max-height: 400px;
    min-height:  400px;
    margin: auto;;
}
@media screen and (min-width: 768px) {
    #chat-window{
        max-width: 50%;
    }
}