body{
    height: 100vh;
}
body{
    background: #4a4a4a;
}
input{
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    font-size: 24px;
    /* border: none; */
}
.enter-username{
    color: #fff;
}
.hello-text{
    text-align: center;
    color: #fff;
}
.top{
    height: 300px;
}
.chat-text{
    margin-left: 5px;
    color: #fff;
}
.logout-wrap{
    width: 46px;
}
.logout-wrap > a{
    color: #fff;
    text-decoration: none;
}
.user-name{
    color: red;
    font-family: monospace;
    /* font-style: italic; */
    padding-left: 10px;
}
.top-text{
    color: #fff;
    margin: auto;
}
.login-button, .chat-button{
    margin: 2px;
    font-size: 20px;
    /* margin-top: 20px;
    margin-left: 10px; */
}
.username-error,
.message-error{
    color: red;
    font-weight: bold;
}

#message, #username{
    width: 100px;
    float: left;
}
#message-form, #logon{
    margin: auto;
    width: 300px;
}
#chat-window{
    border-radius: 6px;
    width: 300px;
    background: #000;
    font-size: 19px; 
    text-align: left;
    overflow: scroll; 
    overflow-x:hidden;
    padding-bottom: 20px;
    max-height: 400px;
    min-height:  400px;
    margin: auto;
}
@media screen and (min-width: 768px) {
    #chat-window{
        max-width: 50%;
    }
}