body{
    max-width: 400px;
    height: 100vh;
    margin: auto;
    background: #f9f9f9;
    font-family: Arial;
}
input{
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    font-size: 24px;
    /* border: none; */
}
.enter-username{
    /* color: #fff; */
}
.hello-text{
    text-align: center;
    /* color: #fff; */
}
.top{
    height: 300px;
}
.chat-text{
    margin-left: 5px;
    /* color: #fff; */
}
.logout-wrap{
    width: 26px;
    padding: 8px;  
    background: #5f5fa1;
}
.logout-wrap > a{
    text-decoration: none;
    width: 130px;
    color: #fff;      
}
.user-name{
    color: #5f5fa1;
    font-family: monospace;
    /* font-style: italic; */
    padding-left: 10px;
}
.top-text{
    background: #5f5fa1;
    color: #fff;
    margin: auto;
    padding: 8px;
    width: 150px;
}
.login-button, .chat-button{
    margin: 5px;
    font-size: 15px;
    /* margin-top: 20px;
    margin-left: 10px; */
}
.username-error,
.message-error{
    color: red;
    font-weight: bold;
}

#message, #username{
    background: #d4d4d4;
    width: 50%;
    max-width: 300px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;
}
#logon, #message-form{
    text-align: center;
}
#message-form, #logon{
    margin: auto;
    width: 300px;
}
#chat-window{
    border-radius: 6px;
    width: 300px;
    /* background: #000; */
    font-size: 19px; 
    text-align: left;
    overflow: scroll; 
    overflow-x:hidden;
    padding-bottom: 20px;
    max-height: 400px;
    min-height:  400px;
    margin: auto;
}
@media screen and (min-width: 768px) {
    #chat-window{
        max-width: 50%;
    }
}